* {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    height: 100vh;
}  

body { 
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 20px;
    margin: 0;
}

.header {
    background-color: #e2e2e2;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    align-items: center;

}


.main {
    text-decoration: none;
    color: #01040e;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

.navigation a {
    color: #01040c;
    text-decoration: none;
    font-size: 16px;
}

.navigation a {
    color: #02040c;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover {
    color: #02040c;
}


#project {
    background-color: rgb(225, 232, 235);
    padding: 5rem 0;
    text-align: center;
    color: #3a6cf4;
}

#project .row {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    box-shadow: 3px 3px 20px rgba(0, 0, 0.2);
    padding: 2rem 3rem;
    border-radius: 20px;
}

#project .row input,
#project .row textarea {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    background-color: #00f4ab0c;
    border: 1px solid #bbb;
    outline: none;

}

.btn-primary {
    background-color: #aaadb1;
    cursor: pointer;
    padding: 8px 20px;
}

@media  screen and (min-width:390px) {
    .header{
        padding: 12px 20px;
        display: block;
        text-align: center;
    }

    .navigation a{
        padding-left: 16px;
    }

    #project .row{
        padding: 1rem 1rem;
    }

    #project .row img {
        max-width: 200px;
        margin: auto;
    }
}
